.loader {

    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, .5);

    .loader-inner {
        display: inline-block;
        width: 64px;
        height: 64px;
        position: relative;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);

        div {
            position: absolute;
            border: 4px solid $brand;
            opacity: 1;
            border-radius: 50%;
            animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;

            &:nth-child(2) {
                animation-delay: -0.5s;
            }
        }
    }

}

@keyframes ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}
