$breakpoints: (xs: 0, sm: 600px, md: 960px, lg: 1280px, xl: 1920px);
/////////////////
// Font sizes
////////////////
$font-sizes: (xxs: 10px, xs:11px, sm: 13px, md:15px, lg:17px, xl: 21px, xxl: 34px, xxxl: 42px);
//////
$xxxl-font: (null: map-get($font-sizes, xl), xs: map-get($font-sizes, xl), md: map-get($font-sizes, xxl), lg: map-get($font-sizes, xxxl));
$xxl-font: (null: map-get($font-sizes, lg), xs: map-get($font-sizes, lg), md: map-get($font-sizes, xl), lg: map-get($font-sizes, xxl));
$xl-font: (null: map-get($font-sizes, md), xs: map-get($font-sizes, md), md: map-get($font-sizes, lg), lg: map-get($font-sizes, xl));
$lg-font: (null: map-get($font-sizes, sm), xs: map-get($font-sizes, sm), md: map-get($font-sizes, md), lg: map-get($font-sizes, lg));
$md-font: (null: map-get($font-sizes, xs), xs: map-get($font-sizes, xs), md: map-get($font-sizes, sm), lg: map-get($font-sizes, md));
$sm-font: (null: map-get($font-sizes, xs), xs: map-get($font-sizes, xs), md: map-get($font-sizes, xs), lg: map-get($font-sizes, sm));
$xs-font: (null: map-get($font-sizes, xxs), xs: map-get($font-sizes, xxs), md: map-get($font-sizes, xxs), lg: map-get($font-sizes, xs));

/////////////////
// Colors
////////////////
$brand: #F6A100;
$primary: #52241B;
$secondary: #5FC5F8;
$grey: #EDEDED;
$text: #333;
$white: #fff;
$alert: #FF4141;
$success: #44C600;


/////////////////
// spacing
////////////////
$container-width: 1200px;
$space-sm: 10px;
$space-md: 20px;

$whole : 100%;
$half : 50%;
$third : 33.3333%;
$quater : 25%;
$sixth : 16.6666%;

/////////////////
// font weights
////////////////
$font-weight-normal: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;


/////////////////
// font
////////////////
$font: 'Roboto',
sans-serif;