.marker{
    cursor: pointer;
    display: block;
    height: 75px;
    width: 75px;
    z-index: 8;
    background: $grey;
    padding: $space-sm;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    label{
        color: $primary;
        font-weight: $font-weight-bold;
    }
    img{
        // had to put width and height for IE;
        width: 73px;
        height: 26px;
        margin-bottom: $space-sm;
    }
}