.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.gallery__item {
  margin: 0;
  display: none;
}
.gallery__img {
  width: 100%;
  @supports (object-fit: cover) {
    object-fit: cover;
    height: 100%;
    position: static;
    transform: none;
  }
}
.gallery__item--1 {
  display: flex;
}
/****************DESKTOP*****************/
@include md {
  .gallery__img {
    height: auto;
  }
  .gallery__item--1,
  .gallery__item--2,
  .gallery__item--3,
  .gallery__item--4 {
    @include grid($whole, $quater, $quater);
  }

  @supports (display: grid) {
    .gallery {
      display: grid;
      grid-template-columns: 4fr minmax(155px, 1fr) minmax(155px, 1fr);
      grid-template-rows: 2fr 1fr 1fr;
      grid-column-gap: $space-sm;
      grid-row-gap: $space-sm;
      min-height: 0;
      min-width: 0;
    }

    .gallery__item {
      width: unset;
      height: unset;
      display: none;
    }

    .gallery__item--2,
    .gallery__item--3,
    .gallery__item--4,
    .gallery__item--5,
    .gallery__item--6 {
      display: flex;
      margin: 0;
    }

    .gallery__item--2 .gallery__img {
      min-width: unset;
      width: 100%;
    }

    .gallery__item--1 {
      display: flex;
      grid-column: 1 / span 1;
      grid-row: 1 / span 3;
    }

    .gallery__item--2 {
      grid-column: 2 / span 2;
      grid-row: 1 / span 1;
    }

    .gallery__item--3 {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
    }

    .gallery__item--4 {
      grid-column: 3 / span 1;
      grid-row: 2 / span 1;
    }

    .gallery__item--5 {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
    }

    .gallery__item--6 {
      grid-column: 3 / span 1;
      grid-row: 3 / span 1;
    }

    .gallery__item--1 .gallery__img {
      transform: none;
    }

    .gallery__img {
      object-fit: cover;
      position: static;
    }
  }
}
/*****************END DESKTOP*****************/
