@import "theme/style";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

body {
  padding: 0;
  margin: 0;
  font-family: $font;
  color: $text;
  background: $white;
}
.wrapper {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
}
.page {
  .page-content {
    padding: $space-sm;
  }
}

.component {
  position: relative;
}

@import "components/Header/style";
@import "components/Loader/style";
@import "containers/Details/style";
@import "components/Gallery/style";
@import "components/MapMarker/style";
